.result {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
  }
  
  .symbol {
    font-size: 1rem;
    color: #fff;
    border: 1px solid #ffa116ff;
    padding: 0.5rem 1rem;
  }
  
  .result-button,
  .create-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    background: #ffa116;
    border: none;
    display: flex;
    align-items: center;
  }
  
  .result-button.copied,
  .create-button.create {
    background: #fff;
    color: #ffa116;
  }
  
  .error-message {
    color: white;
    font-size: 1rem;
    align-items: center;
  }
  